<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pdf</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow';
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 45%;
            margin: 0 auto;
        }

        header {
            width: 100%;
            display: flex;
            justify-content: flex-start;
        }

        header img {
            width: 150px;
            height: 150px;
            display: block;
        }

        .row {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            gap: 0.5em;
            margin-bottom: -2.1em;
        }

        .in_row {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5em;
            margin-left: 0;
        }

        .row_fecha {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-top: 2em;
            margin-bottom: 0.2em;
            padding-left: -1em;
            padding-right: 0;
            position: relative;
            font-size: 1.1em;
        }

        .row_fecha::after {
            content: "";
            position: absolute;
            left: -10px;
            right: -10px;
            bottom: 0;
            height: 3px;
            background: #000;
        }

        h2 {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 4em;
            margin-bottom: 0.1em;
            text-decoration: underline;
        }

        .column_motivo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            font-weight: bold;
            position: relative;
            margin-bottom: -0.5em;
        }

        .column_motivo p {
            width: 33.33%;
        }

        .column_motivo p:nth-child(1) {
            text-align: left;
        }
        .column_motivo p:nth-child(2) {
            text-align: center;
        }
        .column_motivo p:nth-child(3) {
            text-align: right;
        }

        .column_motivo::after {
            content: "";
            position: absolute;
            left: -5px;
            right: -5px;
            bottom: 1em;
            height: 3px;
            background: #000;
        }

        .sustancias {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
        }

        .sustancias .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            padding: 0.5em 0;
            position: relative;
        }
        .sustancias .row::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 1em;
            height: 2px;
            background: #000;
        }

        .sustancias .row p {
            width: 33.33%;
            margin: 0.3em;
        }
        .sustancias .row p:nth-child(1) {
            text-align: left;
        }
        .sustancias .row p:nth-child(2) {
            text-align: center;
        }
        .sustancias .row p:nth-child(3) {
            text-align: right;
        }

        h3{
            justify-content: center;
            margin-top: 8em;
        }

        .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 4em;
        }

        .info p {
            margin: -0.1em;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <header>
            <img src="../../public/Imgs_Pdf/image.png" alt="Logo unsis">
        </header>
        <h1 style="font-size: 2em;">" Universidad de la Sierra Sur "</h1>
        <div class="row">
            <p>Paciente:</p>
            <p>{{nombres}}{{apPaterno}}{{apMaterno}}</p>
        </div>
        <div class="row">
            <p>Edad:</p>
            <p>{{edad}}</p>
            <div class="in_row"></div>
            <p>Sexo:</p>
            <p>{{sexo}}</p>
        </div>
        <div class="row_fecha">
            <p style="margin: 0;">A quien corresponda</p>
            <p style="margin: 0;">Fecha: <span>{{fecha}}</span></p>
        </div>

        
        <h2>DROGAS DE ABUSO</h2>

        <div class="column_motivo">
            <p>SUSTANCIAS</p>
            <p>RESULTADOS</p>
            <p>VALORES DE REFERNCIA</p>
        </div>

        <div class="sustancias">
            <div class="row">
                <p>COCAÍNA</p>
                <p>{{cocaina}}</p>
                <p>NEGATIVO</p>
            </div>
            <div class="row">
                <p>ANFETAMINAS</p>
                <p>{{anfetamina}}</p>
                <p>NEGATIVO</p>
            </div>
            <div class="row">
                <p>METANFETAMINAS</p>
                <p>{{metanfetamina}}</p>
                <p>NEGATIVO</p>
            </div>
            <div class="row">
                <p>OPIOIDES</p>
                <p>{{opioides}}</p>
                <p>NEGATIVO</p>
            </div>
            <div class="row">
                <p>CANNABIS(THC)</p>
                <p>{{cannbis}}</p>
                <p>NEGATIVO</p>
            </div>
        </div>

        <h3>Visto Bueno</h3>

        <div class="info">
            <p>Enf. Leticia Franco Rojas</p>
            <p>Ced. Profesional: 10874795</p>
            <p>Enfermera del Centro Comunitario de Salud Mental y Adicciones</p>
            <p>Trinidad de Viguera</p>
        </div>
    </div>
</body>
</body>

</html>