<h1>Reporte de Análisis {{nombre}}</h1>
<p>Fecha: {{fecha}}</p>

<table>
 <thead>
  <tr>
   <th>Cocaína</th>
   <th>Anfetamina</th>
   <th>Metanfetamina</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td>{{cocaina}}</td>
   <td>{{anfetamina}}</td>
   <td>{{metanfetamina}}</td>
  </tr>
 </tbody>
</table>